# Convert Image to CSV

This notebook is intended to convert images such as jpegs and pngs to csv format.

In [5]:
from PIL import Image
import numpy as np
import sys
import os
import csv
import re
import pandas as pd

def convert(lst):
#     return str(lst).translate("[],\'")
    return str(lst).translate("")

def createFileList(myDir, format0='.png'):
    fileList = []
    for root, dirs, files in os.walk(myDir, topdown=False):
        for name in files:
            if name.endswith(format0):
                fullName = os.path.join(root, name)
                fileList.append(fullName)
    return fileList

myFileList = createFileList('../../0_data_dump/face_off/Images/5_Surprise_Augmented') # Update this

my_dict = {"pixels":[]}

for file in myFileList:
    img_file = Image.open(file)
    width, height = img_file.size
    format0 = img_file.format
    mode = img_file.mode
    img_grey = img_file.convert('L')
    
    value = np.asarray(img_grey.getdata(), dtype=np.int).reshape((img_grey.size[1],img_grey.size[0]))
    value2 = value.flatten()
    new_value = value2.tolist()
    
#     abc = convert(new_value)
#     fgh = re.sub(r'[^\w\s]', '', abc)
    mystring = re.sub(r'[^\w\s]', '', convert(new_value))
    my_dict["pixels"].append(mystring)

df = pd.DataFrame.from_dict(my_dict)
df

#     with open("image_to_csv.csv", 'a') as f:
#         writer = csv.writer(f)
#         for val in new_value:
# #             f.write(' '.join(str(val))
# #             f.write('\r\n')
#             f.write(' '.join(str(num) for num in val))
# #             f.write('\r\n')

                                                 pixels
0     151 155 177 186 192 206 204 196 201 220 235 24...
1     53 48 38 53 49 35 30 51 75 77 72 72 75 60 45 5...
2     200 192 185 178 147 80 54 60 191 254 250 254 2...
3     191 188 182 175 169 163 155 150 148 148 137 11...
4     146 117 98 105 86 81 81 81 93 105 104 139 139 ...
...                                                 ...
2011  222 212 210 209 217 225 220 229 216 211 204 21...
2012  3 3 3 3 3 3 3 3 3 3 2 4 5 4 5 4 21 75 113 115 ...
2013  181 180 173 170 176 187 185 201 205 211 203 19...
2014  173 183 191 181 172 177 184 179 182 187 183 17...
2015  108 133 158 189 195 190 198 185 163 135 109 90...

[2016 rows x 1 columns]

In [6]:
# df = pd.read_csv('image_to_csv.csv',names=['pixels'])
df = pd.DataFrame.from_dict(my_dict)
df['emotion'] = 5 # Update
df['Usage'] = 'Training'
df2 = df[['emotion','pixels','Usage']]
df2.to_csv('./Data/5_surprise_augmented.csv') # Update
df2

      emotion                                             pixels     Usage
0           5  151 155 177 186 192 206 204 196 201 220 235 24...  Training
1           5  53 48 38 53 49 35 30 51 75 77 72 72 75 60 45 5...  Training
2           5  200 192 185 178 147 80 54 60 191 254 250 254 2...  Training
3           5  191 188 182 175 169 163 155 150 148 148 137 11...  Training
4           5  146 117 98 105 86 81 81 81 93 105 104 139 139 ...  Training
...       ...                                                ...       ...
2011        5  222 212 210 209 217 225 220 229 216 211 204 21...  Training
2012        5  3 3 3 3 3 3 3 3 3 3 2 4 5 4 5 4 21 75 113 115 ...  Training
2013        5  181 180 173 170 176 187 185 201 205 211 203 19...  Training
2014        5  173 183 191 181 172 177 184 179 182 187 183 17...  Training
2015        5  108 133 158 189 195 190 198 185 163 135 109 90...  Training

[2016 rows x 3 columns]