# File combination

This code is meant to join the augmented datasets together.

In [3]:
import pandas as pd

df0 = pd.read_csv('./Data/0_angry_augmented.csv')
df0.drop('Unnamed: 0',axis=1,inplace=True)

df1 = pd.read_csv('./Data/1_disgust_augmented.csv')
df1.drop('Unnamed: 0',axis=1,inplace=True)

df2 = pd.read_csv('./Data/2_fear_augmented.csv')
df2.drop('Unnamed: 0',axis=1,inplace=True)

df5 = pd.read_csv('./Data/5_surprise_augmented.csv')
df5.drop('Unnamed: 0',axis=1,inplace=True)

result = pd.concat([df0, df1, df2, df5])
result

      emotion                                             pixels     Usage
0           0  168 153 121 81 44 21 13 12 19 44 84 123 152 16...  Training
1           0  250 248 207 187 199 203 215 211 209 210 208 20...  Training
2           0  20 21 21 22 24 27 30 30 30 33 36 40 45 52 59 6...  Training
3           0  26 17 99 201 236 244 247 249 246 244 243 237 2...  Training
4           0  175 173 167 147 95 138 147 204 175 157 188 146...  Training
...       ...                                                ...       ...
1067        0  84 86 97 102 101 87 105 169 209 213 220 220 21...  Training
1068        0  171 162 144 109 72 64 106 90 72 80 81 89 89 94...  Training
1069        0  73 113 143 148 150 166 173 174 180 179 178 187...  Training
1070        0  246 245 244 245 246 247 249 248 247 246 244 24...  Training
1071        0  224 225 229 231 234 232 231 226 225 222 216 20...  Training

[1072 rows x 3 columns]

In [7]:
result.to_csv('./Data/augmented_data_compiled.csv')